apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: init-task
  labels:
    app: aicoe-ci
spec:
  params:
    - name: event_action
      description: Action of Issue.
    - name: pr_number
      description: Pull request ID.
    - name: pr_repo
      description: The git repository pr was raised to.
    - name: repo_url
      description: The git repository url.
    - name: pr_comment
      description: comment on the pull request.
    - name: pr_comment_author
      description: author of the comment on the pull request.
    - name: pr_comment_author_association
      description: comment author's association.
  resources:
    inputs:
      - name: pr
        type: pullRequest
      - name: s2i-thoth
        type: image
      - name: repo
        type: git

  steps:
    - name: init-ops
      image: $(resources.inputs.s2i-thoth.url)
      workingDir: /workspace/repo
      securityContext:
        privileged: true
      env:
        - name: GITHUBTOKEN
          valueFrom:
            secretKeyRef:
              name: auth-secret
              key: token
      script: |
        #!/usr/libexec/platform-python
        import json
        import yaml
        import os
        import http.client


        def post_comment(context):
            with open("/workspace/pr/pr.json") as f:
                PR_INFO = json.load(f)
            status_url = "/repos/{}/issues/{}/comments".format(
                PR_INFO["Base"]["Repo"]["FullName"], PR_INFO["Number"]
            )
            data = {"body": context}

            conn = http.client.HTTPSConnection("api.github.com")
            r = conn.request(
                "POST",
                status_url,
                body=json.dumps(data),
                headers={
                    "User-Agent": "aicoe-ci",
                    "Authorization": "Bearer " + os.environ["GITHUBTOKEN"],
                },
            )
            resp = conn.getresponse()
            if not str(resp.status).startswith("2"):
                print("Error: %d" % (resp.status))
                print(resp.read())
            else:
                print("GitHub comment has been added.")


        received_comment = """$(params.pr_comment)"""
        received_comment = received_comment.strip().lower()
        author = "$(params.pr_comment_author)"
        author_association = "$(params.pr_comment_author_association)"
        return_comment = ""
        if "/deploy" == received_comment:
            if not ((author_association != "OWNER") or (author_association != "MEMBER")):
                return_comment = f"Hi @{author},\n you are not authorised to run `/deploy` command.\n Please contact the OWNERS."
        if return_comment:
            post_comment(return_comment)

    - name: oc-create-image
      image: quay.io/openshift/origin-cli:latest
      script: |
        if [ "$(params.event_action)" == "closed" ]; then
          oc delete pipelinerun  --selector component=$(params.pr_repo)-pr-$(params.pr_number)
        fi
