apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: overlay-build
spec:
  params:
    # tag params
    - name: git_ref
      description: Git reference value.
    - name: repo_name
      description: The git repository title.
    - name: base_image
      description: Base image to be used.
      default: "quay.io/thoth-station/s2i-thoth-ubi8-py36:latest"
    - name: build_stratergy
      description: stratergy with which image is to build.
      default: ""
    - name: dockerfile_path
      description: dockerfile path to be used for builds.
      default: ""
    - name: build_source_script
      description: Specify a URL for the assemble, assemble-runtime and run scripts
      default: ""
    - name: custom_tag
      description: additional custom tag to be pushed along.
      default: ""
    - name: registry
      description: Container image registry.
      default: "quay.io"
    - name: registry_org
      description: Name of the registry organization.
      default: "thoth-station"
    - name: registry_project
      description: Name of the project repository.
      default: ""
    - name: registry_secret
      description: Registry image push secret.
      default: "thoth-station-thoth-pusher-secret"
    - name: overlays_name
      description: overlays directory to be use for builds.
      default: ""
    - name: overlays_dir
      description: overlays directory to be use for builds.
      default: "overlays"

    # buildah params
    - name: PATH_CONTEXT
      default: .
      description: The location of the path to run s2i from.
    - name: TLSVERIFY
      default: "false"
      description:
        Verify the TLS on the registry endpoint (for push/pull to a non-TLS
        registry)
    - name: LOGLEVEL
      description: Log level when running the S2I binaryx`x
      default: "0"

    # s2i thoth params
    - name: UPGRADE_PIP_TO_LATEST
      description: Set this variable to have the 'pip' program and related python packages be upgraded.
      default: "1"
    - name: THOTH_ADVISE
      description: Advise the recommended stack by Thoth.
      default: "0"
    - name: THOTH_ERROR_FALLBACK
      description: Fallback to the lock file present in the repository if the submitted Thoth analysis fails.
      default: "1"
    - name: THOTH_DRY_RUN
      description: Submit stack to Thoth, but do not use the recommended one.
      default: "1"
    - name: "THAMOS_DEBUG"
      description: "Thamos enable debug mode."
      default: "0"
    - name: "THAMOS_VERBOSE"
      description: Run thamos in verbose mode.
      default: "1"
    - name: THOTH_PROVENANCE_CHECK
      description: Provenance check is verify the stack.
      default: "0"
    - name: THAMOS_NO_PROGRESSBAR
      description: Disable progressbar for thamos.
      default: "1"

  resources:
    inputs:
      - name: s2i-thoth
        type: image
      - name: repo
        type: git

  steps:
    - name: check-ops
      image: $(resources.inputs.s2i-thoth.url)
      securityContext:
        privileged: true
      script: |
        if [ -z "$(params.registry_project)" ]; then
          registry_repo=$(params.repo_name)
        else
          registry_repo=$(params.registry_project)
        fi
        if [ "$(params.registry)" == "quay.io" ]; then
          STATUS=$(curl -s -o /dev/null -w '%{http_code}' "https://quay.io/api/v1/repository/$(params.registry_org)/$registry_repo")
          if [ $STATUS -eq 200 ]; then
              exit 0
          else
              exit 1
          fi
        else
           exit 0
        fi

    - name: git-init-op
      image: $(resources.inputs.s2i-thoth.url)
      workingDir: /workspace/repo
      securityContext:
        privileged: true
      script: |
        git fetch origin --tags
        git checkout tags/$(params.git_ref) -b workbranch

    - name: pre-process-overlays
      image: $(resources.inputs.s2i-thoth.url)
      workingDir: /workspace/repo
      securityContext:
        privileged: true
      script: |
        rm -rf Pipfile Pipfile.lock
        if [ ! -z "$(params.overlays_dir)" ]; then
          cp -rf $(params.overlays_dir)/$(params.overlays_name)/* .
        fi

    - name: generate
      image: quay.io/openshift-pipeline/s2i:nightly
      workingDir: /workspace/repo
      securityContext:
        privileged: true
      script: |
        if [ "$(params.build_stratergy)" == "Dockerfile" ]; then
          if [ -z "$(params.dockerfile_path)" ]; then
            cp -rf . /gen-source/
            mv /gen-source/Dockerfile /gen-source/Containerfile
          else
            cp -rf . /gen-source/
            mv /gen-source/"$(params.dockerfile_path)" /gen-source/Containerfile
          fi
        else
          if [ -z "$(params.build_source_script)" ]; then
            /usr/local/bin/s2i build \
            $(params.PATH_CONTEXT) \
            $(params.base_image) \
            --env UPGRADE_PIP_TO_LATEST=$(params.UPGRADE_PIP_TO_LATEST) \
            --env THAMOS_RUNTIME_ENVIRONMENT=$(params.overlays_name) \
            --env THOTH_ADVISE=$(params.THOTH_ADVISE) \
            --env THOTH_ERROR_FALLBACK=$(params.THOTH_ERROR_FALLBACK) \
            --env THOTH_DRY_RUN=$(params.THOTH_DRY_RUN) \
            --env THAMOS_DEBUG=$(params.THAMOS_DEBUG) \
            --env THAMOS_VERBOSE=$(params.THAMOS_VERBOSE) \
            --env THOTH_PROVENANCE_CHECK=$(params.THOTH_PROVENANCE_CHECK) \
            --env GIT_REPO_NAME=$(params.repo_name) \
            --loglevel=$(params.LOGLEVEL) \
            --as-dockerfile /gen-source/Containerfile
          else
            /usr/local/bin/s2i build \
            $(params.PATH_CONTEXT) \
            $(params.base_image) \
            --scripts-url=$(params.build_source_script) \
            --assemble-user=root \
            --assemble-runtime-user=root \
            --loglevel=$(params.LOGLEVEL) \
            --env THAMOS_RUNTIME_ENVIRONMENT=$(params.overlays_name) \
            --env GIT_REPO_NAME=$(params.repo_name) \
            --as-dockerfile /gen-source/Containerfile
          fi
        fi
      volumeMounts:
        - mountPath: /gen-source
          name: gen-source

    - name: build
      image: quay.io/buildah/stable
      workingDir: /gen-source
      securityContext:
        privileged: true
      resources:
        limits:
          memory: "8Gi"
          cpu: "2"
        requests:
          memory: "2Gi"
          cpu: "2"
      script: |
        buildah bud \
        --storage-driver=overlay \
        --tls-verify=$(params.TLSVERIFY) \
        --layers \
        -f \
        /gen-source/Containerfile \
        -t \
        $(params.repo_name)-$(params.git_ref) \
        .
      volumeMounts:
        - mountPath: /var/lib/containers
          name: varlibcontainers
        - mountPath: /gen-source
          name: gen-source

    - name: push
      image: quay.io/buildah/stable
      script: |
        if [ -z "$(params.registry_project)" ]; then
          registry_repo=$(params.repo_name)
        else
          registry_repo=$(params.registry_project)
        fi
        buildah push \
        --authfile=/pushsecret/.dockerconfigjson \
        --tls-verify=$(params.TLSVERIFY) \
        $(params.repo_name)-$(params.git_ref) \
        docker://$(params.registry)/$(params.registry_org)/$registry_repo:$(params.git_ref)
      securityContext:
        privileged: true
      volumeMounts:
        - name: varlibcontainers
          mountPath: /var/lib/containers
        - name: quay-creds
          mountPath: /pushsecret/
          readOnly: true

    - name: push-custom-tag
      image: quay.io/buildah/stable
      script: |
        if [ -z "$(params.registry_project)" ]; then
          registry_repo=$(params.repo_name)
        else
          registry_repo=$(params.registry_project)
        fi
        if [ ! -z "$(params.custom_tag)" ]; then
          buildah push \
          --authfile=/pushsecret/.dockerconfigjson \
          --tls-verify=$(params.TLSVERIFY) \
          $(params.repo_name)-$(params.git_ref) \
          docker://$(params.registry)/$(params.registry_org)/$registry_repo:$(params.custom_tag)
        fi
      securityContext:
        privileged: true
      volumeMounts:
        - name: varlibcontainers
          mountPath: /var/lib/containers
        - name: quay-creds
          mountPath: /pushsecret/
          readOnly: true

  volumes:
    - name: varlibcontainers
      emptyDir: {}
    - name: gen-source
      emptyDir: {}
    - name: quay-creds
      secret:
        secretName: $(params.registry_secret)
