apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: pre-commit-check
  labels:
    app: aicoe-ci
spec:
  params:
    - name: pr_number
      description: Pull Request number.
    - name: pipelinerun_name
      description: pipelinerun associated.
  resources:
    inputs:
      - name: s2i-thoth
        type: image
      - name: pr
        type: pullRequest
      - name: repo
        type: git

  steps:
    - name: git-init-op
      image: $(resources.inputs.s2i-thoth.url)
      workingDir: /workspace/repo
      securityContext:
        privileged: true
      script: |
        git fetch origin pull/$(params.pr_number)/head:workbranch
        git checkout workbranch

    - name: run-pre-commit
      image: quay.io/thoth-station/thoth-precommit:v0.12.2
      workingDir: /workspace/repo
      script: |
        if [[ -f .pre-commit-config.yaml ]]; then
          pre-commit install
          set +e
          out=$(pre-commit run --all-files 2>&1)
          exit_code=$?
          set -e
          if [[ $exit_code -ne 0 ]]; then
            state="failure"
            desc="The pre-commit test failed!"
            cat <<EOF > /workspace/repo/pr-comment
        <details>
        <summary>Pre-Commit Test failed! Click here</summary>

        \`\`\`
        $out
        \`\`\`
        </details>
        EOF
          else
            state="success"
            desc="The pre-commit test succeeded!"
          fi
          cat <<EOF > /workspace/repo/pr-status.json
          {
            "state": "$state",
            "desc": "$desc"
          }
        EOF
        fi

    - name: pr-updates
      image: $(resources.inputs.s2i-thoth.url)
      workingDir: /workspace/repo
      securityContext:
        privileged: true
      env:
        - name: GITHUBTOKEN
          valueFrom:
            secretKeyRef:
              name: auth-secret
              key: token
      script: |
        #!/usr/libexec/platform-python
        import json
        import os
        import http.client

        def post_status(state, description):
            with open("/workspace/pr/pr.json") as f:
                PR_INFO = json.load(f)
            status_url = "/repos/{}/statuses/{}".format(PR_INFO["Base"]["Repo"]["FullName"], PR_INFO["Head"]["Sha"])
            data = {
                "state": state,
                "target_url": "https://tekton.operate-first.cloud/#/namespaces/opf-ci-pipelines/pipelineruns/$(params.pipelinerun_name)",
                "description": description,
                "context": "aicoe-ci/pre-commit-check"
            }

            conn = http.client.HTTPSConnection("api.github.com")
            r = conn.request(
                "POST",
                status_url,
                body=json.dumps(data),
                headers={
                    "User-Agent": "aicoe-ci",
                    "Authorization": "Bearer " + os.environ["GITHUBTOKEN"],
                })
            resp = conn.getresponse()
            if not str(resp.status).startswith("2"):
                print("Error: %d" % (resp.status))
                print(resp.read())

        def post_comment(comment):
            with open("/workspace/pr/pr.json") as f:
                PR_INFO = json.load(f)
            comment_url = "/repos/{}/issues/{}/comments".format(PR_INFO["Base"]["Repo"]["FullName"], PR_INFO["Number"])

            data = {
                "body": comment,
            }
            conn = http.client.HTTPSConnection("api.github.com")
            r = conn.request(
                "POST",
                comment_url,
                body=json.dumps(data),
                headers={
                    "User-Agent": "aicoe-ci",
                    "Authorization": "Bearer " + os.environ["GITHUBTOKEN"],
                })
            resp = conn.getresponse()
            if not str(resp.status).startswith("2"):
                print("Error: %d" % (resp.status))
                print(resp.read())

        if os.path.isfile('pr-status.json'):
          with open('pr-status.json') as json_data:
            status_state=json.load(json_data)
            post_status(status_state['state'], status_state['desc'])
        if os.path.isfile('pr-comment'):
          with open('pr-comment') as comment_data:
              comment = comment_data.read()
              post_comment(comment)
