---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: thoth-s2i
  labels:
    app: aicoe-ci
spec:
  type: image
  params:
    - name: url
      value: quay.io/thoth-station/s2i-thoth-ubi8-py36:v0.20.1
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: ubi8-minimal
spec:
  type: image
  params:
    - name: url
      value: registry.access.redhat.com/ubi8/ubi-minimal:latest
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: ubi8
spec:
  type: image
  params:
    - name: url
      value: registry.access.redhat.com/ubi8/ubi:latest
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: thoth-ops
spec:
  type: image
  params:
    - name: url
      value: quay.io/thoth-station/thoth-ops:v0.18.0
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: pipeline-helpers
spec:
  type: image
  params:
    - name: url
      value: quay.io/thoth-station/pipeline-helpers:v0.4.1
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: opf-apps-repo
spec:
  type: git
  params:
    - name: url
      value: https://github.com/operate-first/apps.git
    - name: revision
      value: master
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: opfcli-repo
spec:
  type: git
  params:
    - name: url
      value: https://github.com/operate-first/apps.git
    - name: revision
      value: automated-releases
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: aicoe-ci-ceph
data:
  endpoint: "https://s3.upshift.redhat.com/"
  bucket: "thoth"
---
apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: thoth-s2i-py38
  labels:
    app: aicoe-ci
spec:
  type: image
  params:
    - name: url
      value: quay.io/thoth-station/s2i-thoth-ubi8-py38:v0.27.0
